@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Clicker Script", serif;
  --white-color: #f5f4f4;
  --black-color: #1e1e1e;
  --light-gray: #707070;
  --yellow-color: #f9c06a;
  /* --yellow-secondary: #957340; */
  --yellow-secondary: #603809;
  --light-yellow: #fdecd2;
  --lighter-yellow: #fef9f0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: var(--primary-font);
  font-weight: 200;
  color: var(--white-color);
}
main,
section,
footer {
  max-width: 200rem;
  margin: 0 auto;
}
main {
  position: relative;
  width: 100vw;
  background-image: url("img/img-1.png");
  background-position: center;
  background-size: cover;
  padding: 2rem 12rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: 100;
}
h1 {
  font-family: var(--secondary-font);
  font-size: 22rem;
}

.header::after, .footer__form::after{
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.u-gray {
  color: var(--light-gray);
}

.u-dark-yellow {
  color: var(--yellow-secondary);
}

.secondary-title {
  font-size: 5.4rem;
  margin-bottom: 2.2rem;
  font-weight: 600;
}

.tertiary-title {
  font-size: 2rem;
}

.section {
  background-color: var(--white-color);
  padding: 10rem 12rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  margin-top: 5rem;
  gap: 2rem;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 50%;
  }
  main {
    padding: 2rem 8rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 42%;
  }
  main {
    padding: 2rem 6rem;
  }
  .section {
    padding: 6rem; 
  }
}

@media screen and (max-width: 630px) {
  main {
    padding: 2rem 4rem;
  }
  .nav {
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (max-width: 420px) {
  html {
    font-size: 34%;
  }
  main {
    padding: 2rem;
  }
}
